<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29411662623-6ifjv58u86cu4lahq3psuh82n2jr8gsp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29411662623-6ifjv58u86cu4lahq3psuh82n2jr8gsp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>29411662623-ut08bnrsvs9e8f3mqj4bdv8uq447fq0a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBs_ZNoJGADgn5BNU2uRtgbDBP8d7aWMpk</string>
	<key>GCM_SENDER_ID</key>
	<string>29411662623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.app.ondegastei.ondeGasteiApp.Dev</string>
	<key>PROJECT_ID</key>
	<string>onde-gaste-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>onde-gaste-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29411662623:ios:88eb014ac2492ddd282e2a</string>
</dict>
</plist>